:root {
  
  /* LIGHT MODE THEME */
  --light-mode-background: #F6F8FF;
  --light-mode-card-color: #FEFEFE;
  --light-mode-logo-color: #222731;
  --light-mode-black: #2B3442;
  --light-mode-gray: #4B6A9B;
  --light-mode-stats-color: #F6F8FF;
  --light-mode-text: #222731;
  --light-mode-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

  
  /* DARK MODE THEME */
  --dark-mode-background: #141D2F;
  --dark-mode-card-color: #1E2A47;  

  /* COMOM COLORS */
  --blue: #0079FF;
  --white: #FFFFFF;
  --grey: #697C9A;

}


body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-mode-background);
  height: 100vh;
}

/* CABEÇALHO */

.top__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--light-mode-logo-color);
}

.theme-button__dark {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 2.5px;
  color: var(--light-mode-gray);
}

.theme-button__dark img {
  margin-left: 0.5rem;
}

.theme-button__light {
  display: none;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 2.5px;
  padding-left: 7.5rem;
  color: var(--white);
}

.theme-button__light img {
  margin-left: 0.5rem;
}

/* BARRA DE PESQUISA */

form {
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  box-shadow: var(--light-mode-shadow);
  border-radius: 15px;
  width: 327px;
  height: 60px;
}

input[type="text"] {
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  margin-left: 8px;
  text-align: left;
  font-size: 13px;
  /* color: var(--light-mode-text); */
  font-weight: 400;
  width: 327px;
  border: none;
  border-radius: 15px;
  background-image: url("../img/icon-search.svg");
  background-color: var(--light-mode-card-color);
  background-repeat: no-repeat;
  background-position: 6px;
}

.search-bar::placeholder {
  color: var(--light-mode-gray);
  opacity: 1;
}

input[type="text"]:focus {
  outline: none;
}

.input__dark-theme::-webkit-input-placeholder {
  color: var(--white);
}

button[type="submit"] {
  padding: 14px 16px;
  margin-right: 0.5rem;
  border: none;
  background: var(--blue);
  border-radius: 10px;
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
}

/* DADOS DO USUÁRIO */

.user__container {
  background: var(--light-mode-card-color);
  box-shadow: var(--light-mode-shadow);
  border-radius: 15px;
  margin: 2rem 1.5rem;
}

.user__info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 2rem 0;
}

.user__avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 0 1.5rem;
}

.user__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-mode-black);
  align-self: flex-end;
}

.user__nickname {
  font-weight: 400;
  font-size: 13px;
  color: var(--blue);
}

.user__data {
  font-weight: 400;
  font-size: 13px;
  color: var(--grey);
}

.user__bio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem 2rem 1.5rem;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: var(--light-mode-gray);
}


/* NÚMEROS DO USUÁRIO */

.user__number {
  background: var(--light-mode-background);
  border-radius: 10px;
  margin: 0 1.5rem 2rem 1.5rem;
}

.user__number-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1.5rem;
  column-gap: 1rem;
}
    
.item-title {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: var(--light-mode-gray);
  margin-bottom: 1rem;
}

.item-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-mode-black);
}

/* OUTRAS INFORMAÇÕES DO USUÁRIO */

.othersInformation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem;
    padding-bottom: 3rem;
}

.othersInformation__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 0;
    column-gap: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: var(--light-mode-gray);
}

.address {
    padding-left: 0.3rem;
}
